language: java
# Enable container-based infrastructure
# see http://docs.travis-ci.com/user/workers/container-based-infrastructure/
sudo: false
jdk:
- oraclejdk8
- openjdk11
cache:
  directories:
  - $HOME/.m2/repository
  - $HOME/.m2/wrapper
script:
- MAVEN_OPTS=-Xmx2g
- mvn clean verify